{% load static %}
<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <title>Checkout Payment</title>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="{% static 'main.js' %} "></script>
  </head>
  <body>
      <input id="card-name" type="text">
      <!-- placeholder for Elements -->
      <div id="card-element"></div>
      <button id="card-button" data-secret="{{ client_secret }}">
        Submit Payment
      </button>
  </body>
</html>